$box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.3);
$box-shadowMB: 0px 6px 5px 0px rgba(0, 0, 0, 0.3);
$box-shadowWB: 0px 6px 5px 0px rgba(0, 0, 0, 0.3);

.main {
  width: 100%;
  margin: 2em auto 2em auto;
  padding: 0 1.5em;
  form {
    position: relative;
    .searchBar {
      width: 30em;
      border: solid .5px #ca2061;
      border-radius: .3em;
      padding: 1.3rem 0 1.3rem 2rem;
      font-size: medium;
    }

    button {
      position: absolute;
      top: .3em;
      left: 28.5em;
      padding: 1.2rem 1.5rem 1.2rem 1.5rem;
      border: none;
      border-radius: 1rem;
      color: #ca2061;
      text-align: center;
      align-content: center;
      font-size: 1.5rem;
    }
  }
}
