.select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .2em;
  gap: 1em;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.selection {
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.signUp {
  text-align: center;
}
