.footer {
  color: #fff;
  background-color: var(--primary);
  padding: 2rem;
  bottom: 0;
  p,
  a {
    margin: 0;
    color: #fff;
  }
  @media (max-width: 768px) {
    padding: 2rem;
    ul {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}
